// Navigation Styles here
.nav-bar{

    width: 100%;
    display: flex;
    align-items: center;
    border-bottom: 1.5px dashed @silver;
    

    @media @mobile{

        flex-direction: column;
        align-content: center;
    }
    
    
    a{
       
        padding: .5rem;
        text-decoration: none;
        color:@shark;
        font-size: 1.4rem;
        
    }

    h1{
        justify-content: flex-start;
    }

    .fun{
        display: flex;
        width: 50%;
        margin: 20px 0;
        text-align:center;
        
        
        @media @mobile{

            align-self: center;
            text-align:center;
            
        }
    }

    .links{

        width: 50%;
        text-align:right;
        justify-content: space-around;
        padding: .5rem;
        text-decoration: none;
        color:@shark;
        font-size: 1.4rem;
        

        @media @mobile {
            
            display: flex;
            width: 100%;
            justify-content: space-around;
            margin: 10px;
            text-align: center;
        }

    }
   
}

